header {
    background-color: rgb(225, 235, 225);
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
  }
  nav {
    margin: 0;
    padding: 10px 0;
  }
  nav li {
    color: lightgreen;
    font-family: 'Georgia', serif;
    font-weight: 600;
    display: inline-flex; 
    width: 100px;
  }
main {
    top: 100px;
}
#missionmain{
    top: 100px;
    padding: 60px;
    
}
html{
 background-image:linear-gradient(to top right, green, lightgreen);
 font-family: Georgia !important;
 background-attachment: fixed;
}
#homemain {
 top:200px;
 padding: 60px;
}
